
<div class="flash-message">
    <flash-messages></flash-messages>
</div>
  
<div *ngIf="isAuth" class="app-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1>Yousmil</h1>
        <span style="flex: 1 1 auto;"></span>
        <h1>{{user?.username}}</h1>
        <button mat-icon-button (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 64">
        <mat-sidenav #snav [opened]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <div style="text-align: center;">
                    <ngx-avatar *ngIf="user.avatar" [size]="80" [src]="user.avatar"></ngx-avatar>
                    <ngx-avatar *ngIf="!user.avatar" [size]="80" [name]="user.username"></ngx-avatar>
                    <h1>{{user.username}}</h1>
                </div>
                <mat-divider></mat-divider>
                <div *ngFor="let itemsGroup of menuItemsGroups">
                    <h3 style="margin-left: 10px; margin-bottom: 5px;">{{itemsGroup.title}}</h3>
                    <a mat-list-item [routerLink]="item.path" *ngFor="let item of itemsGroup.items">
                        <mat-icon style="margin-right: 5px;">{{item.icon}}</mat-icon>
                        {{item.name}}
                    </a>
                    <mat-divider></mat-divider>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<div style="width: 100%; height: 100%;">
    <router-outlet></router-outlet>
</div>
