.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar {
    position: fixed;
    z-index: 2;
}

.toolbar h1 {
    margin-left: 8px;
}

.sidenav-container {
    flex: 1;

}

.example-is-mobile .sidenav-container {
    flex: 1 0 auto;
    background-color: red;
}

.sidenav-container mat-sidenav {
    width: 200px;
}

.sidenav-container mat-sidenav-content {
    padding: 10px;
}

mat-divider {
    margin: 5px;
}

.flash-message {
    z-index: 100000;
    position: fixed;
    top: 10px;
    right: 10px;
    max-width: 400px;
    margin-top: 70px;
    opacity: 0.8;
}

ngx-avatar{
    display:inline-block;
}
