<div id="main_container">
    <div id="register_container" class="rounded text-center">
        <h1 class="text-center">Welcome to yousmil !</h1>
        <form [formGroup]="form" (ngSubmit)="submitForm(); false" class="m-auto">
            <mat-form-field class="w-100">
                <mat-label>Username</mat-label>
                <input type="text" matInput formControlName="username" />
            </mat-form-field><br />

            <mat-form-field class="w-100">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                <mat-icon matSuffix (click)="hide = !hide; false;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field><br />

            <mat-form-field class="w-100">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" />
                <mat-icon matSuffix (click)="hide = !hide; false;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field><br />

            <mat-form-field class="w-100">
                <mat-label>Lastname</mat-label>
                <input type="text" matInput formControlName="lastname" />
            </mat-form-field><br />

            <mat-form-field class="w-100">
                <mat-label>Firstname</mat-label>
                <input type="text" matInput formControlName="firstname" />
            </mat-form-field><br />

            <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" />
            </mat-form-field><br />

            <div *ngIf="messageError" class="alert alert-danger"> {{messageError}} </div>
            
            <button type="submit" [disabled]="loading || !form.valid" mat-raised-button color="primary" style="width: 100%;" >
                Register
                <div *ngIf="loading" style="display: inline-block;">
                    <mat-spinner diameter="20"></mat-spinner>
                </div>
            </button>
            <button [routerLink]="['/login']" mat-raised-button color="primary" style="margin-top: 5px; width: 100%;">
                <mat-icon>account_box</mat-icon>
                Login Page
            </button>
        </form>
    </div>
</div>