
<div class="row">
    <div class="col-3">
        <h2>Data</h2>
        <div class="row" class="d-flex flex-row d-flex justify-content-start" style="margin-bottom: 10px;">
            <button *ngIf="!(video?.url)" mat-raised-button color="primary" (click)="fileInputVideo.click(); false;" style="margin-right: 5px;" [disabled]="LoadingVideo">Add Video</button>
            <button *ngIf="video?.url" mat-raised-button color="warn" (click)="onDeleteVideo(); false;" style="margin-right: 5px;">Delete Video</button>
            <mat-progress-spinner *ngIf="LoadingVideo" diameter="20" color="primary" mode="determinate" [value]="PercentVideo"></mat-progress-spinner>
            <p *ngIf="!LoadingVideo">{{video?.title ? video.title : "No Video File"}}</p>
            <input (change)="OnVideoSelected($event); false;" hidden #fileInputVideo type="file" id="file"  accept=".wav,.mp3,.mp4,.mpg,.wmv,.mov,.avi">
        </div>
        
        <div class="row" class="d-flex flex-row d-flex justify-content-start" style="margin-bottom: 10px;">
            <button *ngIf="!(pptx?.url)" mat-raised-button color="primary" (click)="fileInputPPTX.click(); false;" style="margin-right: 5px;" [disabled]="LoadingPPTX">Add pptx</button>
            <button *ngIf="pptx?.url" mat-raised-button color="warn" (click)="onDeletePPTX(); false;" style="margin-right: 5px;">Delete pptx</button>
            <mat-progress-spinner *ngIf="LoadingPPTX" diameter="20" color="primary" mode="determinate" [value]="PercentPPTX"></mat-progress-spinner>
            <p *ngIf="!LoadingPPTX">{{pptx?.title ? pptx.title : "No PPTX File"}}</p>
            <input (change)="OnPPTXSelected($event); false;" hidden #fileInputPPTX type="file" id="file"  accept=".pptx,.jpg,.png">
        </div>

        <div class="row" class="d-flex flex-row d-flex justify-content-start" style="margin-bottom: 10px;">
            <button mat-raised-button color="primary" (click)="createJsonSmil()" [disabled]="!(pptx?.url && video?.url) || LoadingCreate">
                <mat-progress-spinner style="display: inline-block;" *ngIf="LoadingCreate" diameter="20" color="primary" mode="indeterminate"></mat-progress-spinner>
                Create Json
            </button>
        </div>
    </div>
    <div class="col-9">
        <h2>Result</h2>
        <code>
            <pre>{{JsonValue}}</pre>
        </code>
    </div>
</div>
