<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm(); false" class="m-auto">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <ngx-avatar *ngIf="user.avatar" [size]="200" [src]="user.avatar"></ngx-avatar>
                    <ngx-avatar *ngIf="!user.avatar" [size]="200" [name]="user.username"></ngx-avatar>
                </div>
                <div class="row" class="d-flex flex-row d-flex justify-content-center">
                    <button mat-raised-button color="primary" (click)="fileInput.click(); false;">Change avatar</button>
                    <button mat-raised-button color="warn" (click)="onDeleteAvatar(); false;" style="margin-left: 5px;">delete avatar</button>
                    <input (change)="OnFileSelected($event); false;" hidden #fileInput type="file" id="file"  accept=".pnj,.jpg,.png">
                </div>
            </div>
            <div class="col-8">
                <mat-form-field class="w-100">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput formControlName="username" />
                </mat-form-field><br />
        
                <mat-form-field class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                    <mat-icon matSuffix (click)="hide = !hide; false;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field><br />
        
                <mat-form-field class="w-100">
                    <mat-label>Confirm password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" />
                    <mat-icon matSuffix (click)="hide = !hide; false;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field><br />
        
                <mat-form-field class="w-100">
                    <mat-label>Lastname</mat-label>
                    <input type="text" matInput formControlName="lastname" />
                </mat-form-field><br />
        
                <mat-form-field class="w-100">
                    <mat-label>Firstname</mat-label>
                    <input type="text" matInput formControlName="firstname" />
                </mat-form-field><br />
        
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="email" />
                </mat-form-field><br />
                
                <button type="submit" [disabled]="loading || !form.valid" mat-raised-button color="primary" style="width: 100%;" >
                    Update
                    <div *ngIf="loading" style="display: inline-block;">
                        <mat-spinner diameter="20"></mat-spinner>
                    </div>
                </button>
            </div>
        </div>
    </form>
</div>