<h1>SMIL Recent</h1>
<div class="d-flex flex-row justify-content-start flex-wrap">
    <mat-card class="card" *ngFor="let item of [1,2,3,4,5,6]">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SUB</button>
        </mat-card-actions>
    </mat-card>
</div>

