#main_container {
    height: 100%;
    width: 100%;
    background-image: url('../../../../assets/aesthetic-anime-02.jpg');
    display: flex;
    align-items: center;
    text-align: center;
}

#login_container {
    padding: 15px;
    width: 50%;
    background-color: white;
    margin: auto;
    opacity: 0.80;
}

#form_zone_container {
    margin: 20px;
}

form {
    width: 30%;
    margin: auto;
}